<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/static/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous">
    </script>
</head>
<body>
{{template "navigation" }}
<div class="container py-3">
    <div class="container mt-5 px-2">
        <div class="shadow table-responsive">
            <table class="table table-responsive table-borderless">
                <thead>
                <tr class="bg-light">
                    <th scope="col" width="5%">#</th>
                    <th scope="col" width="20%">Nom & Prénom</th>
                    <th scope="col" width="10%">Boutique</th>
                    <th scope="col" width="20%">Reservation</th>
                    <th scope="col" width="20%">Contact</th>
                    <th scope="col" width="10%">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <img src="https://i.imgur.com/VKOeFyS.png" width="25">
                        Diallo Djaraye
                    </td>
                    <td><span class="ms-1">BabyShop</span></td>
                    <td>11h 00 - 12h 00 12/11/2023</td>
                    <td>0788899009 / djaraye@gmail.fr</td>
                    <td class="d-flex gap-3">
                        <a href="#"><i class="bi bi-pencil-square"></i></a>
                        <a href="#"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>
                        <img src="https://i.imgur.com/VKOeFyS.png" width="25">
                        Diallo Djaraye
                    </td>
                    <td><i class="fa fa-check-circle-o green"></i><span class="ms-1">BabyShop</span></td>
                    <td>11h 00 - 12h 00 12/11/2023</td>
                    <td>0788899009 / djaraye@gmail.fr</td>
                    <td class="d-flex gap-3">
                        <a href="#"><i class="bi bi-pencil-square"></i></a>
                        <a href="#"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <img src="https://i.imgur.com/VKOeFyS.png" width="25">
                        Diallo Djaraye
                    </td>
                    <td><i class="fa fa-check-circle-o green"></i><span class="ms-1">BabyShop</span></td>
                    <td>11h 00 - 12h 00 12/11/2023</td>
                    <td>0788899009 / djaraye@gmail.fr</td>
                    <td class="d-flex gap-3">
                        <a href="#"><i class="bi bi-pencil-square"></i></a>
                        <a href="#"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>